page-sub {
    ul {
        width: 100%;
        overflow-x: hidden;
        background: #fff;
        li {
            width: 33.3%;
            border-right: 1px solid #eeeeee;
            border-bottom: 1px solid #eeeeee;
            height: 13rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 14px;
            color: #a7a7a7;
            .logo {
                width: 54px;
                height: 54px;
                margin-bottom: 6px;
                background-size: cover !important;
                background-position: center center !important;
                background-repeat: no-repeat !important;
            }
            .name {
                line-height: 36px;
            }
            .meta-box {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #909090;
                .article {
                    margin-left: .8rem;
                }
            }
        }
    }
}