page-sub {
    ul {
        width: 100%;
        background: #fff;
        li {
            width: 50%;
            border: 1px solid #eee;
            height: 15rem;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            font-size: 16px;
            color: #333;
            .logo {
                width: 54px;
                height: 54px;
                margin-bottom: 6px;
            }
            .name {
                line-height: 36px;
            }
            .meta-box {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 14px;
                color: #909090;
                .article {
                    margin-left: .8rem;
                }
            }
        }
    }
}
