page-home {
    color: #5d5d5d;

    .icon-xinxishitu {
        font-size: 24px;
        color: #fff;
    }

    .searchbar-input {
        box-shadow: none !important;
        border-radius: 999999px !important;
        line-height: 2.2rem !important;
    }


    .inn-users {
        padding: 8px;
    }

    .item {
        background-color: #fff;
        border: 1px solid #d7d9dd;
        border-width: 1px 0;
        margin-bottom: 8px;
    }

}
