<!--
  Generated template for the WoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header no-border>

  <ion-navbar color="primary">
    <ion-title>{{data.Name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <header class="top-profile">
    <div class="avatar img-wrap">
      <img src="{{data.Avatar}}" class="ui circular image">
    </div>
    <p class="name">{{data.Name}}</p>
    <p class="intro">
      <span href="javascript:;">重庆&nbsp;&nbsp;</span>
      <span href="javascript:;">酷戴科技&nbsp;&nbsp;</span>
      <span href="javascript:;">高级后端工程师&nbsp;&nbsp;</span>
    </p>

    <div class="stats clear">
      <div class="stat-item">
        <i class="ui icon star"></i>赞&nbsp;
        <em>0</em>
        <i class="separate"></i>
      </div>
      <div class="stat-item">
        <i class="ui icon heart"></i>关注&nbsp;
        <em>0</em>
        <i class="separate"></i>
      </div>
      <div class="stat-item">
        <i class="ui icon user"></i>粉丝&nbsp;
        <em>1</em>
      </div>
    </div>
  </header>

  <section class="hire-info">
    <p class="work-price">￥{{data.Work_price}}元 / 8小时</p>
    <p>可工作时间: {{data.Work_time}}</p>
    <p class="comments">
      <span>好评度:
        <i class="icon yellow iconfont icon-xingxing"></i>
        <i class="icon yellow iconfont icon-xingxing"></i>
        <i class="icon yellow iconfont icon-xingxing"></i>
        <i class="icon yellow iconfont icon-xingxing"></i>
        <i class="icon yellow iconfont icon-xingxing"></i>
      </span>
      <span class="success-rate">成功率: 0% </span>
      <span class="cmt-count fr">1人评论</span>
    </p>
  </section>

  <section class="panel resume">
    <div class="header">
      <!-- 点赞按钮 -->
      <div class="ui button resume_plus_btn fr up-btn " style="padding: 4px 6px;font-weight: 400;color: #666;background-color: #eeeff2;font-size: 12px;margin-top: 9px;">
        <i class="ui icon thumbs outline up" style="margin: 0;"></i>
        <span data-role="number">0</span>
      </div>
      个人介绍
    </div>
    <div class="content proginn-user-info">
      <p>{{data.Dec}}</p>
    </div>
  </section>

  <section class="panel resume proginn-work-history" style="display: block;">
    <div class="header">
      工作经历
    </div>
    <div class="content">
      <ul class="J_Works">
        <li *ngFor="let work of data.Work_list">
          <p class="time">{{work.Time}}</p>
          <p class="hd">
            <span class="company">{{work.Cname}}</span>
            <span class="title">{{work.Job}}</span>
          </p>
          <p class="summary">{{work.Dec}}</p>
        </li>
      </ul>
    </div>
  </section>

  <section class="panel skills">
    <div class="header">技能</div>
    <div class="content">
      <ul class="skill-list">
        <li class="skill-item" *ngFor="let skill of data.Skill_list">
          <div class="name"> {{skill.Name}} </div>
          <div class="progress">
            <div class="level-{{skill.Level}}"></div>
          </div>
        </li>
        
      </ul>

    </div>
  </section>

  <section class="panel works">
    <div class="header">作品</div>
    <div class="content">
      <ul class="work-list">
        <li class="work-item clearfix" *ngFor="let work of data.Works">
          <div class="fl w-left">
            
              <i class="icon iconfont icon-dianzhany"></i>
              <br>
              <span data-role="number">0</span>
            
          </div>
          <div class="w-right">
      
              <div class="name">{{work.Name}}</div>
              <div class="description">{{work.Dec}}</div>
            
            <div class="image-list">
              <ul>
                <li class="J_PreviewImage" *ngFor="let img of work.Imgs" class="imgs" [style.background]="'url('+img+')'"></li>
              </ul>
            </div>
          </div>
        </li>
        
      </ul>
    </div>
  </section>

</ion-content>
