<!-- Generated template for the UserCardComponent component -->
<div class="item clear" (click)="openWo()">

  <div class="inn-user-hd clear">
    <span class="name">{{data.Name}}</span>
    <span class="sign">已签约</span>
    <span class="work">广州 前端工程师 5年</span>
  </div>

  <div class="inn-users-bd">
    <div class="infos">
      <div class="avatar">
        <img src="{{data.Avatar}}"> </div>
      <div class="desc">
        <p class="title">武汉天乐 高级后端工程师</p>
        <p class="price">{{data.Work_price}}元/天</p>
      </div>
    </div>
    <div class="skills">
        <div *ngFor="let item2 of ats"></div>
      <p>技能：WInform，VB，MFC，Delphi，C，C#，C++，ASP.NET，jQuery，html</p>
      <p>作品：中国民生银行网银自动转账软件，LED大屏统一控制系统，多媒体管理平台，多屏显示系统，归元寺LED祈福大屏管理系统，LED屏信息统一管理及发布系统（LED群发系统）</p>
    </div>
  </div>

  <div class="inn-users-ft">
    <span class="star-list"> 好评度:
      <i class="icon yellow iconfont icon-xingxing"></i>
      <i class="icon yellow iconfont icon-xingxing"></i>
      <i class="icon yellow iconfont icon-xingxing"></i>
      <i class="icon yellow iconfont icon-xingxing"></i>
      <i class="icon yellow iconfont icon-xingxing"></i>
    </span>
    <span class="success-rate">成功率：100%</span>
    <span class="comment">1人评论</span>
  </div>

</div>
