<!-- Generated template for the UserCardComponent component -->
<div class="item clear" (click)="openWo()">

  <div class="inn-user-hd clear">
    <span class="name">{{data.Name}}</span>
    <span class="sign">已签约</span>
    <span class="work">18-02-25</span>
  </div>

  <div class="inn-users-bd">
    <div class="infos">
      <div class="avatar">
        <img src="{{data.Avatar}}"> </div>
      <div class="desc">
        <p class="title">{{data.Address}}</p>
        <p class="price">{{data.Work_price}}元/天</p>
      </div>
    </div>
    <div class="skills">
      
      <p>技能：<span *ngFor="let skill of data.Skill_list">{{skill.Name}}，</span></p>
      <p>作品：<span *ngFor="let work of data.Works">{{work.Name}}，</span></p>
    </div>
  </div>

  <div class="inn-users-ft">
    <span class="star-list"> 好评度:
      <i class="icon yellow iconfont icon-xingxing"></i>
      <i class="icon yellow iconfont icon-xingxing"></i>
      <i class="icon yellow iconfont icon-xingxing"></i>
      <i class="icon yellow iconfont icon-xingxing"></i>
      <i class="icon yellow iconfont icon-xingxing"></i>
    </span>
    <span class="success-rate">成功率：100%</span>
    <span class="comment">1人评论</span>
  </div>

</div>
